
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style_pages{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
    }

<div class="col-lg-12">
    <h2 style="color:ButtonShadow">Agents Policy</h2>
        <input type="hidden" id="hfMastCode" />
        <div class="table table-responsive" id="divView" style="display: block; width: 100%; padding-top: 10px; overflow-x: inherit;font-size:13px;">
            <table class="table table-responsive" id="tblView">                           
            </table>
        </div>
        <br /><br />
</div>
<div class="col-lg-12">
    <h2 style="color:ButtonShadow">Agent Commission</h2>
    <input type="hidden" id="hfMastCodes" />
    <div class="table table-responsive" id="divView1" style="display: block; width: 100%; padding-top: 10px; overflow-x: inherit;font-size:13px;">
        <table class="table table-responsive" id="tblViews"></table>
    </div>
    <br /><br />
</div>
@section script_pages{
<script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="~/ViewJs/Reports.js"></script>


    }
     
