@{
    ViewBag.Title = "About";
}
<div class="jumbotron" style="height: 275px; width: 131.75%; margin-left: -16%; background: url(../Content/Image/growing.png), #6DB3F2; background-repeat: no-repeat;  background-position: top; border: 1px dotted; ">
    <h3>India’s largest digital insurance marketplace<sup><h3>Compare | Buy | Save</h3></sup></h3>
</div>
<h3>About Us</h3>

<h3>Building a safety net for households in India.</h3>
<p>
Back in 2008, insurance customers in India were facing a tough time. There was lack of information on products, transparency was missing, mis-selling was rampant, there was a high lapse rate of insurance policies and consumers felt a general apathy towards the insurance industry. Insurance companies made profits from policy surrender charges and the entire industry was mired in murkiness.

That is when a small bunch of people, with no insurance experience, started re-imagining what the insurance space could be. They imagined a place where consumers could find completely transparent insurance information, and an option to research and compare insurance products so they could buy what they really wanted to. A place where all communications would be recorded so that there would be a clear audit trail of who said what in a product as complex as insurance. A place that provided a common service layer for all consumer services and claims.

With this grand ambition as their life goal, this motley crew of people started their journey into what is now Policybazaar.com.

Policybazaar.com is now India’s foremost insurance aggregator and a leading fintech player globally. The objective is the same even today -- Customer First and Sustained Profitability for the entire insurance ecosystem.

It's a fine balancing act when our customers transact a few lac crores of insurance cover and a few thousand crores of insurance premium with 50+ insurers through our platform with complete confidence every year.</p>