@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron" style="height: 275px; width: 131.75%; margin-left: -16%; background: url(../Content/Image/growing.png), #6DB3F2; background-repeat: no-repeat;  background-position: top; border: 1px dotted; ">
    <h3>India’s largest digital insurance marketplace<sup><h3>Compare | Buy | Save</h3></sup></h3>
</div>
<h3>Contact to Us</h3>

<address>
    <br />
    One PolicyBazar Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    07912121512
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>